{% extends 'base.html' %}
{% load static %}
{% block title %}<title>{{ game.game_title }}</title>{% endblock %}
{% block content %}

    <div class="container-fluid mt-5">
        <div class="text-center">
            <h1>{{ game.game_title }}</h1>
            <h3 id="id_user_name"></h3>
            <h3 id="id_score"></h3>

            <h3 id="result_text"></h3>
             <img id="final_image" src="" alt="Финальная картинка" width="600px;"> <br> <br>

            <a href="/" class="btn btn-primary">Начать заново</a>

        </div>
    </div>


{% endblock %}

{% block own_js %}
    <script>
        window.addEventListener("load", async (event) => {
            const response = await fetch('/api/get_user_session');
            const userData = await response.json()
            $('#id_user_name').html(`Вы играете с именем - ${userData.user_name}`)
            $('#id_score').html(`Текущий счет - ${userData.score}`)

            if (parseInt(userData.score) > 17) {
                $('#final_image').attr("src", '/media/media/game_won.jpg');
                $('#result_text').html('Вы выиграли')
            } else {
                $('#final_image').attr("src", '/media/media/game_lost.jpg');
                $('#result_text').html('Вы проиграли')
            }
        });
    </script>
{% endblock %}