{% extends 'base.html' %}
{% load static %}
{% block title %}<title>{{ game.game_title }}</title>{% endblock %}
{% block content %}

    <div class="container-fluid mt-2">

        <div></div>
        <div class="text-center">

            <h1>{{ game.game_title }}</h1>
            <h3 id="id_user_name"></h3>
            <h3 id="id_score"></h3>
        </div>
        <br>
        {% if question %}
            <div>
                <div class="text-center">
                    <img src="{{ question.question_img.url }}" alt="" width="300px;" height="300px;"
                         id="id_question_image">
                    <p id="img_description" class="fs-5"></p>
                </div>
                <h3 id="id_question_text">{{ question.question_text }}</h3><br><br>
                <div id="answers_div">
                    {% for answer in answers %}
                        <button class="btn btn-light my-2"
                                onclick="changeQuestion({{ answer.id }})">{{ answer.answer_text }}</button>
                        <br>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            Для этого персонажа нет вопросов ))
        {% endif %}
    </div>


{% endblock %}

{% block own_js %}
    <script>
        window.addEventListener("load", async (event) => {
            const response = await fetch('/api/get_user_session');
            const userData = await response.json()
            $('#id_user_name').html(`Вы играете с именем - ${userData.user_name}`)
            $('#id_score').html(`Текущий счет - ${userData.score}`)
        });
    </script>
    <script>
        async function getNextQuestion(answerId) {
            try {
                const response = await fetch(`/api/get_next_question/${answerId}`);
                return await response.json();
            } catch (error) {
                throw error
            }
        }

        async function updateUserDataFromSession() {
            const response = await fetch('/api/get_user_session');
            const userData = await response.json()
            $('#id_score').html(`Текущий счет - ${userData.score}`)
        }

        async function changeQuestion(answerId) {

            const nextQuestionData = await getNextQuestion(answerId);
            await updateUserDataFromSession()

            if (nextQuestionData.is_game_over) {
                window.location.replace('/game/game-over')
            } else {
                const nextQuestion = nextQuestionData.next_question
                $("#id_question_image").attr("src", nextQuestion.question_img);
                $("#id_question_text").html(nextQuestion.question_text);
                if (nextQuestion.question_img_description !== '') {
                    $("#img_description").html(nextQuestion.question_img_description);
                }
                let answer_div = $("#answers_div").html("");
                answer_div.html("");


                const shuffledAnswers = shuffle(nextQuestion.answers);

                shuffledAnswers.map(answer => {
                        let newAnswerButton = $("<button></button>")
                        newAnswerButton.addClass('btn btn-light my-2')
                        newAnswerButton.html(answer.answer_text)
                        newAnswerButton.on("click", function () {
                            changeQuestion(answer.id)
                        })
                        answer_div.append(newAnswerButton)
                        answer_div.append('<br>')
                    }
                )

            }


        }

        const shuffle = (array) => {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        };
    </script>
{% endblock %}